---
import { ArrowRight } from "lucide-react";

export interface Props {
  href: string;
  title: string;
  description: string;
  bgImage: string;
  icon: string;
  iconRotate?: string;
}

const {
  href,
  title,
  description,
  bgImage,
  icon,
  iconRotate = "-rotate-12",
} = Astro.props;
---

<a
  href={href}
  class="group relative flex items-center justify-between overflow-visible rounded-xl bg-cover bg-center px-5 py-6 transition-all duration-300 md:px-7"
  style={`background-image: url('${bgImage}')`}
>
  <div
    class="absolute inset-0 rounded-xl bg-linear-to-t from-black via-black/40 to-transparent transition-opacity duration-300 group-hover:opacity-80"
  >
  </div>
  <div class="relative z-10 flex flex-col gap-y-2">
    <p
      class="text-accent-purple-light font-heading text-xl uppercase md:text-2xl"
    >
      {title}
    </p>
    <p
      class="text-neutral-cool-lightest max-w-xl text-sm tracking-wide md:text-base"
    >
      {description}
    </p>
  </div>
  <div
    class={`absolute right-36 top-1/2 hidden -translate-y-1/2 size-44 sm:block ${iconRotate}`}
    style={`background-image: linear-gradient(275deg, #D9D0F5 3.4%, #EBE6FF 48.25%); -webkit-mask: url('${icon}') no-repeat center / contain; mask: url('${icon}') no-repeat center / contain;`}
  >
  </div>
  <div class="relative z-10 flex shrink-0 items-center">
    <ArrowRight
      className="text-accent-purple-light size-8 shrink-0 transition-transform duration-300 group-hover:scale-110 md:size-10"
    />
  </div>
</a>
