---
import FontSizeAdjuster from "@/components/layout/FontSizeAdjuster.astro";
import Footer from "@/components/layout/Footer.astro";
import LanguageSwitcher from "@/components/layout/LanguageSwitcher.astro";
import Navbar from "@/components/layout/Navbar.astro";
import "@/styles/global.css";

export interface Props {
  title: string;
  locale: string;
}

const { title, locale } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar locale={locale} />
    <div class="fixed right-4 z-10">
      <LanguageSwitcher currentLocale={locale} />
    </div>
    <main>
      <slot />
    </main>
    <Footer locale={locale} />
    <FontSizeAdjuster />
  </body>
</html>
